.note {
    width: 270px;
    height: 380px;
    background-color: aliceblue;
    border-radius: 6px;
    padding: 10px;
    overflow: hidden;
    font-size: x-large;
}

.note:hover {
    background-color: blanchedalmond;
    cursor: pointer;
}

.title-like {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px 0px 20px;
}

.title-like button {
    font-size: 42px;
    cursor: grab;
}

.note-content {
    overflow: hidden;
}

.liked {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.liked:focus {
    border: none;
}